.Bag {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Bag .data-container {
  position: relative;
}

.Bag .history-btn,
.Bag .history-btn-empty {
  border: 3px solid var(--secondary-color);
  position: absolute;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.Bag .history-btn {
  top: 92px;
  border-bottom: none;
  right: 510px;
}

.Bag .history-btn-empty {
  top: -40px;
  right: -100px;
}
.Bag #my-items {
  padding-bottom: 50px;
  font-family: var(--courier-font);
  letter-spacing: 2px;
  padding-bottom: 100px;
  text-align: center;
}

.Bag .no-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-family: var(--courier-font);
  letter-spacing: 2px;
}

.Bag .page-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
