.Bag {
  padding: 0 300px;
  padding-top: 150px;
}

.Bag .big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.Bag .data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Bag .history-btn,
.Bag .history-btn-empty {
  border: 2px solid #166d8a;
  position: absolute;
  padding: 5px 20px;
  top: 6px;
  right: 0;
  border-radius: 2px;
  cursor: pointer;
}
.Bag .history-btn-empty {
  top: -40px;
  right: -100px;
}
.Bag #my-items {
  padding-bottom: 50px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
}

.Bag #clear-bag {
  background-color: transparent;
}

.Bag #check-out {
  background-color: rgb(21, 174, 21);
}

.Bag .no-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
}
