* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.Page {
  min-height: 92vh;
}

.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-family: "Courier New", Courier, monospace;
  flex-direction: column;
  gap: 7px;
}

#title p {
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border: 1px solid gray;
}

.hide {
  display: none;
}

#loading {
  margin: 0 25vw;
}

.green {
  background-color: rgb(12, 142, 12);
}

.black {
  background-color: rgb(12, 9, 9);
}

.blue {
  background-color: rgb(14, 14, 121);
}
