* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.Page {
  min-height: 92vh;
}

.dark {
  background-color: #333;
  color: #fff;
  transition: 0.3s all;
}

.light {
  background-color: #fff;
  color: #333;
  transition: 0.3s all;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-family: "Courier New", Courier, monospace;
  flex-direction: column;
  gap: 7px;
}

#title p {
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border: 1px solid gray;
}

.hide {
  display: none;
}

#loading {
  margin: 0 25vw;
}

.green {
  background-color: rgb(12, 142, 12);
}

.black {
  background-color: rgb(12, 9, 9);
}

.blue {
  background-color: rgb(14, 14, 121);
}

.active {
  outline: 1px solid rgb(255, 0, 179);
  outline-offset: 3px;
}

.link {
  text-decoration: none;
  width: fit-content;
}

#back-btn {
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  color: rgb(247, 66, 66);
  border: 1px solid rgb(247, 66, 66);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s all;
}

#back-btn:hover {
  background-color: rgb(247, 66, 66);
  color: wheat;
}
