* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Segoe-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --courier-font: "Courier New", Courier, monospace;
  --light-color: #fff;
  --dark-color: #333;
  --secondary-color: rgb(23, 83, 92);
  --pick-color: rgba(255, 0, 179, 0.8);
  --pick-hover-color: rgb(157, 72, 132);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--Segoe-font);
}

.Page {
  min-height: 85.9vh;
}

.dark {
  background-color: var(--dark-color);
  color: var(--light-color);
  transition: 0.3s all;
}

.light {
  background-color: var(--light-color);
  color: var(--dark-color);
  transition: 0.3s all;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-family: var(--courier-font);
  flex-direction: column;
  gap: 7px;
}

#title p {
  font-family: var(--Segoe-font);
}

hr {
  border: 1px solid gray;
}

.hide {
  display: none;
}

#loading {
  margin: 0 25vw;
}

.green {
  background-color: rgb(12, 142, 12);
}

.black {
  background-color: rgb(12, 9, 9);
}

.blue {
  background-color: rgb(14, 14, 121);
}

.activeColor,
.activeSize {
  border: 2px solid var(--pick-color) !important;
}

.active {
  background-color: var(--secondary-color);
}

.link {
  text-decoration: none;
  width: fit-content;
}
