.NavigateContainer {
  display: flex;
  gap: 10px;
  color: gray;
  padding-bottom: 10px;
}

.NavigateContainer p:not(:last-child) {
  cursor: pointer;
  transition: 0.2s color;
}
.NavigateContainer p:not(:last-child):hover {
  color: var(--pick-hover-color);
}

.NavigateContainer p:last-child {
  color: var(--pick-color);
}

@media (max-width: 500px) {
  .NavigateContainer {
    font-size: 0.8rem;
  }
}

@media (max-width: 415px) {
  .NavigateContainer {
    font-size: 0.6rem;
  }
}
