.NavigateContainer {
  position: absolute;
  top: -25px;
  left: 0;
  display: flex;
  gap: 10px;
  color: gray;
}

.NavigateContainer p:not(:last-child) {
  cursor: pointer;
  transition: 0.2s color;
}
.NavigateContainer p:not(:last-child):hover {
  color: var(--pick-hover-color);
}

.NavigateContainer p:last-child {
  color: var(--pick-color);
}
