.Collection .data-container {
  margin-top: 100px;
  padding: 50px 0 50px 200px;
  display: flex;
  position: relative;
}

.Collection .filters {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  line-height: 24px;
}

.Collection .filter-by {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
}

.Collection .filter-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Collection .data {
  display: flex;
  margin-left: 20px;
  gap: 50px;
  flex-wrap: wrap;
}

@media (max-width: 1440px) {
  .Collection .filter-by {
    width: 150px;
  }
}

@media (max-width: 1124px) {
  .Collection .filters {
    position: fixed;
    left: 25px;
  }
}

@media (max-width: 980px) {
  .Collection .data {
    margin-left: 0;
    gap: 25px;
  }
}

@media (max-width: 529px) {
  .Collection .data {
    gap: 24px;
  }

  .Collection .data-container {
    padding: 50px 20px;
    margin-top: 300px;
  }

  .Collection .filters {
    z-index: 10;
    position: absolute;
    left: 10px;
    top: -240px;
  }

  .Collection .filter-by {
    width: 350px;
  }
}

@media (max-width: 350px) {
  .Collection .filters {
    left: 0px;
  }
}
