.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home .background-container img {
  height: 600px;
  width: 100%;
  box-shadow: 0 10px 30px rgb(0, 0, 0);
}

.Home .imgs-section {
  margin: 0 5vw;
  margin-top: 30px;
}

.Home .imgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 50px;
}

.Home .latest-products {
  padding-bottom: 100px;
}

.Home .latest-products h3 {
  padding: 30px 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.7rem;
}

.Home .data {
  display: flex;
  gap: 30px;
  width: 100%;
}

.Home .skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Home.dark .skeleton,
.Home.light .skeleton {
  transition: all 0.3s;
  width: 1500px;
  height: 230px;
  background-color: #05050533;
  border-radius: 20px;
}

.Home.light .skeleton {
  background-color: #33333399;
}
