.SearchInfo .list {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--secondary-color);
  max-width: 100%;
}

.SearchInfo .list:last-child {
  border: none;
}

.SearchInfo .list img {
  width: fit-content;
  height: 110px;
}

.SearchInfo .list-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.SearchInfo .color-size {
  display: flex;
  gap: 50px;
}

.SearchInfo span {
  padding-left: 5px;
}

.SearchInfo #clothing-name {
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s;
  color: black;
}

.SearchInfo #clothing-name:hover {
  color: orange;
  text-decoration: underline;
  text-decoration-color: orange;
}

@media (max-width: 1024px) {
  .SearchInfo .items {
    row-gap: 0;
  }
}

@media (max-width: 600px) {
  .SearchInfo #clothing-name {
    width: 15ch;
    text-align: center;
    font-size: 0.9rem;
  }
}

@media (max-width: 550px) {
  .SearchInfo #clothing-name {
    width: 10ch;
    text-align: center;
  }

  .SearchInfo .list {
    width: 431px;
  }
  .SearchInfo .list img {
    object-fit: contain;
    height: 75px;
  }

  .SearchInfo .color-size {
    gap: 20px;
  }
}

@media (max-width: 430px) {
  .SearchInfo .list {
    width: 360px;
  }

  .SearchInfo .color-size {
    flex-direction: column;
  }
}
