.DeleteBtn {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #cc0000;
  background-color: #e50000;
  overflow: hidden;
  border-radius: 5px;
}

.DeleteBtn,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.DeleteBtn .button__text {
  transform: translateX(35px);
  color: #fff;
  font-weight: 600;
}

.DeleteBtn .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #cc0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DeleteBtn .svg {
  width: 20px;
}

.DeleteBtn:hover {
  background: #cc0000;
}

.DeleteBtn:hover .button__text {
  color: transparent;
}

.DeleteBtn:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.DeleteBtn:active .button__icon {
  background-color: #b20000;
}

.DeleteBtn:active {
  border: 1px solid #b20000;
}
