.DeleteBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  border: none;
  transition-duration: 0.3s;
}
.DeleteBtn .bin-bottom {
  width: 15px;
}
.DeleteBtn .bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}
.DeleteBtn:hover .bin-top {
  transform: rotate(45deg);
}

.DeleteBtn:active {
  transform: scale(0.9);
}
