.NavBarSvgs.signed-in-svgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.NavBarSvgs .bag-container {
  position: relative;
}

.NavBarSvgs .bag-counter {
  position: absolute;
  top: 50%;
  left: 5px;
  pointer-events: none;
  font-size: 0.6rem;
  color: white;
}
