.ProductDetails .data {
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  gap: 20px;
  width: 100%;
}

.ProductDetails .data h1 {
  text-align: center;
  padding-bottom: 40px;
}

.ProductDetails .data span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
}

.ProductDetails .loading {
  width: 200px;
  height: 200px;
}
