.ProductDetails .data-container {
  display: flex;
  gap: 100px;
}

.ProductDetails .buy-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.ProductDetails #buy-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  width: 70%;
  transition: opacity 0.2s;
}
.ProductDetails #buy-btn:hover {
  opacity: 0.8;
}

.ProductDetails #added-msg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.ProductDetails #added-msg span {
  color: crimson;
  border-bottom: 1px solid black;
  font-size: 1.4rem;
}

.ProductDetails #error-msg {
  color: rgba(255, 0, 0, 0.83);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}
