.ProductDetails .data-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  max-width: 100%;
  min-width: 600px;
  position: relative;
  margin-top: 100px;
}
/* 
.ProductDetails .navigate-container {
  position: absolute;
  top: -25px;
  left: 0;
  display: flex;
  gap: 10px;
  color: gray;
}

.ProductDetails .navigate-container p:not(:last-child) {
  cursor: pointer;
  transition: 0.2s color;
}
.ProductDetails .navigate-container p:not(:last-child):hover {
  color: var(--pick-hover-color);
}

.ProductDetails .navigate-container p:last-child {
  color: var(--pick-color);
} */

.ProductDetails .data {
  display: flex;
  flex-direction: column;
  font-family: var(--courier-font);
  width: 100%;
  justify-content: space-between;
}

.ProductDetails .data h1 {
  text-align: center;
  padding-bottom: 40px;
}

.ProductDetails .data span {
  font-family: var(--Segoe-font);
  font-size: 1.3rem;
  font-weight: 400;
}

.ProductDetails .buy-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.ProductDetails #buy-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  width: 70%;
  transition: opacity 0.2s;
}
.ProductDetails #buy-btn:hover {
  opacity: 0.8;
}

.ProductDetails #added-msg {
  font-family: var(--Segoe-font);
  font-size: 1.1rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.ProductDetails #added-msg span {
  color: crimson;
  border-bottom: 1px solid black;
  font-size: 1.4rem;
}

.ProductDetails #error-msg {
  color: rgba(255, 0, 0, 0.83);
  font-family: var(--Segoe-font);
  font-size: 1.4rem;
}

.ProductDetails .loading {
  width: 200px;
  height: 200px;
}
