.ProductDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ProductDetails .data-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  max-width: 100%;
  position: relative;
}

.ProductDetails img {
  height: 550px;
  border-radius: 10px;
}

.ProductDetails .data {
  display: flex;
  flex-direction: column;
  font-family: var(--courier-font);
  justify-content: space-between;
  width: fit-content;
}

.ProductDetails .data h1 {
  text-align: center;
  padding-bottom: 40px;
}

.ProductDetails .data span {
  font-family: var(--Segoe-font);
  font-size: 1.3rem;
  font-weight: 400;
}

.ProductDetails .buy-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.ProductDetails #buy-btn {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 8px;
  background: black;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
}

.ProductDetails #buy-btn span {
  position: relative;
  z-index: 1;
}

.ProductDetails #buy-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background-color: var(--secondary-color);
  transition: all 0.475s;
}
.ProductDetails #buy-btn:hover::before {
  transform: scaleX(1);
}

.ProductDetails #added-msg {
  font-family: var(--Segoe-font);
  font-size: 1.1rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.ProductDetails #added-msg span {
  color: crimson;
  border-bottom: 1px solid black;
  font-size: 1.4rem;
}

.ProductDetails #error-msg {
  color: rgba(255, 0, 0, 0.83);
  font-family: var(--Segoe-font);
  font-size: 1.4rem;
}

.ProductDetails .loading {
  width: 200px;
  height: 200px;
}

@media (max-width: 1024px) {
  .ProductDetails .data-container {
    gap: 40px;
    flex-direction: column;
  }

  .ProductDetails img {
    height: 400px;
    object-fit: contain;
  }

  .ProductDetails .data {
    font-size: 1.1rem;
  }

  .ProductDetails .data h1 {
    padding-bottom: 30px;
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .ProductDetails img {
    height: 300px;
  }

  .ProductDetails .data {
    font-size: 1rem;
  }
  .ProductDetails .data h1 {
    padding-bottom: 0;
  }
}

@media (max-width: 500px) {
  .ProductDetails .data-container {
    gap: 20px;
  }
  .ProductDetails .data {
    font-size: 0.9rem;
  }

  .ProductDetails .data h1 {
    font-size: 1.4rem;
  }
  .ProductDetails .data h2 {
    font-size: 1.3rem;
  }
  .ProductDetails .data span {
    font-size: 1.1rem;
  }
}

@media (max-width: 415px) {
  .ProductDetails .data h1 {
    font-size: 1.2rem;
  }
  .ProductDetails .data h2 {
    font-size: 1.1rem;
  }

  .ProductDetails img {
    height: 210px;
  }
}
