.ProductPage {
  padding: 20px 400px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.ProductPage img {
  max-height: 550px;
  border-radius: 10px;
}

.ProductPage .back-container {
  display: flex;
}

.ProductPage #back-btn img {
  width: 15px;
  height: fit-content;
}
