.Pagination button {
  padding: 10px;
  border: none;
  cursor: pointer;
  border: 1px solid gray;
}

.Pagination button:hover:not(.next-prev-btns) {
  background-color: gray;
}

.Pagination .activePage {
  border: 3px solid rgb(45, 149, 165);
  scale: 1.2;
  color: rgb(0, 176, 240);
}

.Pagination .prev-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.Pagination .next-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Pagination .next-prev-btns {
  font-weight: bold;
  letter-spacing: 1.3px;
}
