.Pagination {
  padding-bottom: 30px;
}
.Pagination button {
  padding: 10px;
  border: none;
  cursor: pointer;
  border: 1px solid gray;
}

.Pagination button:hover {
  background-color: gray;
  color: orange;
  outline: 1px solid orange;
}

.Pagination .activePage {
  border: 3px solid rgb(45, 149, 165);
  scale: 1.2;
  color: rgb(0, 176, 240);
}
