.BagDetails .actions-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.BagDetails .actions-container p {
  cursor: pointer;
  border: 3px solid rgb(23, 83, 92);
  padding: 5px 10px;
  transform: skewX(-20deg);
  font-size: 1.1rem;
}
.BagDetails .actions-container p:last-child {
  cursor: auto;
}

.BagDetails #price-span {
  color: rgb(24, 184, 24);
}

.BagDetails .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  padding-bottom: 20px;
  column-gap: 80px;
  row-gap: 30px;
}

.BagDetails .list {
  display: flex;
  gap: 20px;
  padding: 20px;
  /* border-bottom: 2px solid rgb(165, 147, 147); */
  /* border-right: 2px solid rgb(165, 147, 147); */
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(23, 83, 92);
  border-radius: 5px;
  width: 550px;
}
.BagDetails .list:last-of-type {
  /* border: none; */
}

.BagDetails .list img {
  width: fit-content;
  height: 150px;
}

.BagDetails .list-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.BagDetails .color-size {
  display: flex;
  gap: 50px;
}

.BagDetails .remove-btn {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: crimson;
  color: white;
  cursor: pointer;
  margin-top: 15%;
}

.BagDetails .items span {
  padding-left: 5px;
  font-size: 0.9rem;
}

.BagDetails #clothing-name {
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

.BagDetails #clothing-name:hover {
  color: orange;
  text-decoration: underline;
  text-decoration-color: orange;
}
