.History {
  padding: 0 300px;
  padding-top: 70px;
}

.History .big-container {
  padding-bottom: 50px;
}

.History .title-container {
  text-align: center;
  padding-bottom: 40px;
}

.History .title-container h3 {
  padding-bottom: 20px;
}

.History .title-container span {
  color: rgb(24, 184, 24);
}

.History .no-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.History .page-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
