.FilterDataOptions.panel {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.FilterDataOptions .checkbox-container {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.FilterDataOptions .checkbox-container label {
  cursor: pointer;
  font-size: 0.93rem;
}

.FilterDataOptions .checkbox-container input {
  width: 17px;
  cursor: pointer;
  accent-color: gold;
}

.FilterDataOptions .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.FilterDataOptions #options-label {
  color: rgb(128, 117, 117);
}

@media (max-width: 1024px) {
  .FilterDataOptions.panel {
    gap: 10px;
  }

  .FilterDataOptions #options-label {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .FilterDataOptions #options-label {
    font-size: 1rem;
  }
}

@media (max-width: 529px) {
  .FilterDataOptions.panel {
    flex-direction: row;
    gap: 20px;
  }

  .FilterDataOptions .checkbox-container {
    justify-content: center;
    align-items: center;
  }
  .FilterDataOptions .checkbox-container input {
    height: 17px;
  }
}
