.ProductData {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ProductData .size-container {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  font-family: var(--Segoe-font);
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  width: fit-content;
}

.ProductData .size-container div {
  border: 2px solid gray;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s border;
}

.ProductData .size-container div:hover {
  border-color: var(--pick-hover-color);
}

.ProductData #type-info {
  padding: 10px 0;
  font-family: var(--Segoe-font);
}

@media (max-width: 1024px) {
  .ProductData {
    width: 600px;
  }
}

@media (max-width: 767px) {
  .ProductData {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .ProductData .size-container {
    font-size: 0.8rem;
  }
}

@media (max-width: 360px) {
  .ProductData .size-container div {
    padding: 10px 20px;
  }
}
