.ProductData {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ProductData .size-container {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  font-family: var(--Segoe-font);
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.ProductData .size-container div {
  border: 2px solid gray;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s border;
}

.ProductData .size-container div:hover {
  border-color: rgb(157, 72, 132);
}

.ProductData #type-info {
  padding: 10px 0;
  font-family: var(--Segoe-font);
}
