.ClothesTypesData {
  position: relative;
}
.ClothesTypesData .add-product-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(27, 32, 39);
  background-color: var(--secondary-color);
  position: absolute;
  top: 150px;
  right: 160px;
  cursor: pointer;
}

.ClothesTypesData .add-product-container:hover {
  color: rgb(27, 32, 39);
}

.ClothesTypesData #modal-title {
  text-align: center;
  padding-bottom: 10px;
}

.ClothesTypesData form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.ClothesTypesData form div {
  display: flex;
  gap: 10px;
}

.ClothesTypesData form label {
  font-size: 1.3rem;
  width: 60px;
  text-align: center;
}

.ClothesTypesData form select {
  font-size: 1.2rem;
  width: 100px;
}

.ClothesTypesData input {
  padding: 5px 15px;
  font-size: 1.3rem;
  width: 250px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
}

.ClothesTypesData .green-img {
  border: 2px solid green;
}
.ClothesTypesData .black-img {
  border: 2px solid black;
}
.ClothesTypesData .blue-img {
  border: 2px solid blue;
}

.ClothesTypesData .submit-btn {
  padding: 5px 20px;
  font-size: 1.3rem;
  width: 250px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(109, 220, 109);
  transition: all 0.2s;
}

.ClothesTypesData .submit-btn:hover {
  background-color: var(--secondary-color);
  color: white;
}

.ClothesTypesData #error-msg {
  color: red;
  text-align: center;
  padding-bottom: 20px;
}
