.Navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.Navbar .container {
  display: flex;
  padding-top: 8.5px;
}

.Navbar .logo-container {
  margin-left: 15vw;
  display: flex;
  align-items: center;
  font-family: var(--courier-font);
}

.Navbar .logo-container h2 {
  cursor: pointer;
}

.Navbar .logo-container img {
  max-width: 55px;
  border-radius: 50%;
  object-fit: cover;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.Navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222831;
  min-height: 8dvh;
  border-bottom: 2px solid var(--secondary-color);
}

.Navbar nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.Navbar ul {
  display: flex;
}

.Navbar ul li {
  list-style: none;
}

.Navbar ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1.7rem;
  transition: 0.1s;
}

.Navbar ul li a:not(.active):hover {
  background-color: var(--bg-color);
}

.Navbar .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 1.9rem;
}

.Navbar .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: var(--light-color);
  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  .Navbar nav {
    flex-direction: column;
    align-items: start;
    padding-bottom: 20px;
  }

  .Navbar .logo-container {
    display: block;
    margin: 0;
    padding-top: 1rem;
  }

  .Navbar .logo-container img {
    display: none;
  }

  .Navbar .menu {
    display: flex;
  }

  .Navbar nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .Navbar nav ul li {
    margin-top: 4%;
    text-align: center;
    width: 100%;
  }

  .Navbar ul.open {
    display: flex;
  }
}
