.Navbar {
  min-height: 8vh;
  border-bottom: 3px solid #00acb553;
  background-color: #222831;
  color: white;
  width: 100%;
}

.Navbar .container {
  display: flex;
  padding-top: 8.5px;
}

.Navbar .logo-container {
  margin-left: 15vw;
  width: fit-content;
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
.Navbar .logo-container h2 {
  cursor: pointer;
}

.Navbar .logo-container img {
  width: 55px;
  border-radius: 50%;
  object-fit: cover;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.Navbar .svgs-container {
  position: absolute;
  right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.Navbar .svgs-container .svg {
  padding-top: 18px;
  cursor: pointer;
  width: 23px;
}

.Navbar .login-modal {
  position: fixed;
  top: 10%;
  left: 35%;
}

.Navbar .modal-container {
  position: absolute;
}
