.Navbar {
  min-height: 8vh;
  border-bottom: 3px solid #00acb553;
  background-color: #222831;
  color: white;
}

.Navbar .container {
  display: flex;
  padding-top: 8.5px;
}

.Navbar .logo-container {
  cursor: pointer;
  margin-left: 15vw;
  width: fit-content;
}

.Navbar .logo-container img {
  width: 55px;
  border-radius: 50%;
  object-fit: cover;
  transition: box-shadow 0.2s;
}

.Navbar .logo-container img:hover {
  box-shadow: 0px 0px 10px 1px rgb(29, 127, 154);
}

.Navbar .theme-container {
  margin-left: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
  gap: 20px;
  position: relative;
  height: 50px;
  cursor: pointer;
}

.Navbar .active {
  /* position: absolute;
  background-color: darkcyan;
  width: 50%;
  height: 100%;
  right: 0px;
  padding-left: 10px;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px; */
}

.Navbar .on-top {
  z-index: 1;
}
